<div class="container">
    <div>
        <h2 style=" font-weight: 800;padding-left: 20px;">LOGO</h2>
    </div>

    <div class="navbar">
        <a routerLink="">Home</a>
        <a routerLink="">Blog</a>
        <a routerLink="">Gallery</a>
        <!-- <a routerLink="">Socials</a> -->
        <!-- <div class="dropdown">
            <p class="dropbtn">Socials
                            <i class="fa fa-caret-down"></i>
            </p>
            <div class="dropdown-content">
                <a routerLink="">Instagram</a>
                <a routerLink="">Whatsapp</a>
                <a routerLink="">Facebook</a>
                <a routerLink="">Twitwer</a>
            </div>
        </div> -->

    </div>
</div>
<div style="background-color:#2f1f1f ;width:100%">
    <p style="color:antiquewhite;text-align: center;padding: 15px;">" It is not bright colors but good drawing that makes figures beautiful."</p>
</div>
<div class="main-content"  >
    <div class="content" style="color:#2f1f1f">
        <div style="border-radius: 10%;">
            <div >
                <div style=" padding-top: 5%; max-width: 992px; margin: auto;padding-bottom: 8%; padding-left: 3%;">
                    <h2 >HEY THERE,</h2>
                    <!-- <H1  style="font-size:30px; margin-top: 1vh;color:#6b6464 "></H1> -->
                    <H1 class="occupation">I'm a Pencil Artist</H1>
                    <!-- <H1 class="occupation">I'M A PENCIL ARTIST</H1> -->

                    <p class="about" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="max-width: 1300px;margin: auto;">
    <app-images-slider></app-images-slider>
</div>
<br>
<div style="background-color:#2f1f1f;width:100%">
    <div style=" max-width: 992px; margin: auto;">
        <div class="myportfolio">
            <div class="portfolio-column">
                <div class="button" href="url">
                    <h4 style="color: antiquewhite; font-size:25px; font-weight: 800;text-align: left;">Lorem ipsum</h4>
                    <div>
                        <p style="font-size:15px;padding-left:3% ;text-align: justify; border-left: 8px solid antiquewhite;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="button" href="url">
                    <h4 style="color: antiquewhite; font-size:25px;font-weight: 800;text-align: left;">Lorem ipsum</h4>
                    <div >
                        <p style="font-size:15px;padding-left:3% ;text-align: justify; border-left: 8px solid antiquewhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style=" max-width:800px;margin: auto;;padding-top: 5%;padding-bottom: 5%">
    <app-aritcles-slider></app-aritcles-slider>
</div>
<div style="background-color:#2f1f1f;width:100%">
    <div class="footer" style="background-color:#2f1f1f;width:100%;margin:auto;max-width: 800px;">
        <!-- <h2 style="text-align:center;color:antiquewhite">LOGO</h2> -->
        <div style=" max-width: 100px;margin: auto;padding-top: 6%;">
            <img style="width:100px;height: 100px;text-align:center;" src="assets/logo/LM.png">

        </div>

        <p style="color:antiquewhite;text-align: center;padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
        <div style="display: flex;justify-content: space-around;color:antiquewhite;max-width: 600px;margin: auto;">
            <a><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
            <a><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a><fa-icon [icon]="faSquareTwitter"></fa-icon></a>
            <a><fa-icon [icon]="faSquareFacebook"></fa-icon></a>
        </div>
        <br>
        <div class="footer-nav">
            <a routerLink="">Home</a>
            <a routerLink="">Gallery</a>
        </div>
        <hr style="border:1px solid antiquewhite">
        <p style="color:antiquewhite;padding-bottom: 10px;text-align: center;">  Copyright &copy;2023 Fadiman All rights reserved</p>
    </div>
</div>