<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<div class="container">
  <div class="tracker" style="background-color:rgb(192, 126, 4)">
    
    
  </div>
  <div class="homepage-container">
        <div class="navigation">
                <nav>
                        
                        <ul>
                              
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Locations</a></li>
                            <li><a href="#">Locations</a></li>
                            <li><a href="#">donate</a></li>
                            
                        </ul>
                    </nav>
    
        </div>
        <div class="body-container">
                <h3 class="heading-one">SPECIES OF AFRICA</h3>
                <h1 class="heading-two">WhiteTail</h1>
                <h1 class="heading-two">Dear</h1>

                <p class="body-info">Country codes can also be added to the
                         language code in the lang attribute
                         . So, the first two characters define 
                         the language of the HTML page, and the 
                         last two characters define the country.</p>
                <div class="more-info">
                        <div class="column" >
                                <button style="font-size:20px;background-color: transparent;"><i class="fa fa-play-circle" style="color:orange"></i>Watch videos</button>
                        </div>
                        <div class="column" >
                                <button style="font-size:20px;background-color: transparent;">more info</button>
                        </div>

                </div>
        </div>
        <div class="botom-div">
                <div class="row">
                        <div class="column"  >
                                <div>
                                        <div class="sub-column"  >
                                                <h1 >column</h1>
                                                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FWorld_map&psig=AOvVaw02kqNBydQFTNFDA4USS21r&ust=1675492895301000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLirwsnf-PwCFQAAAAAdAAAAABAE" alt="" width="130" height="130">
                                                
                                        </div>
                                        <div class="sub-column" >
                                                <h1>column</h1>
                                                <p style="width: 50%;font-size: 15px;">Country codes can also be added to the
                                                        language code in the lang attribute</p>
                                                        <h1>column</h1>
                                        </div>
                                </div>
                        
                          
                        </div>
                        <div class="column" >
                                <div>
                                        <div class="sub-column" >
                                                <h1>column</h1>
                                        </div>
                                        <div class="sub-column" >
                                                <h1>column</h1>
                                        </div>
                                </div>
                               

                        </div>
                </div>
                      

        </div>
                
  </div>
</div>

</body>
</html>