body{
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;

}

.tracker {
        float: left;
        width: 4vw;
        height: 100vh;
        margin: 0;

}
.homepage-container{
        width: 100vw;
        height: 100vh;
        margin: 0;
  /*      background-image: url('bg.png');*/
  background-color: #0005;

        width:100%;
        height:100vh;
        background-size: cover;
      }
      nav{
        width: 100%;
        height: 70px;
        background-color: #0005;
        line-height: 40px;
      }
      nav ul{
        float: right;
        margin-right: 30px;
      }
      nav ul li{
        list-style-type: none;
        display: inline-block;
        transition: 0.7s all;
      }
      nav ul li:hover{
        background-color:rgb(192, 126, 4);
      }
      nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
      }


.body-container{
        margin-left: 10%;
        color:white;
        width:20%;
}
.body-container .heading-one{
        padding-top: 30px;
        font-size:25px ;

}
.body-container .heading-two{
        font-size: 100px;
        padding-top: 0px;
}
.botom-div {
        margin-left: 4%;
        position: absolute;
        bottom: 0px;
        color:white;
    }
.more-info .column {
        float: left;
        width: 50%;
        

      
}
.more-info .row:after {
content: "";
display: table;
clear: both;
}
* {
        box-sizing: border-box;
      }
.botom-div .column {
                float: left;
                width: 48vw;
              
                background-color: #0005;
              
}
.botom-div .row:after {
        content: "";
        display: table;
        clear: both;
      }

.botom-div .sub-column {
        float: left;
        width: 50%;
        bottom: 0px;
        height: 20vh;

      
}
.botom-div .row:after {
content: "";
display: table;
clear: both;
}
.sub-column h1{
        color:rgb(192, 126, 4);
        font-size:25px ;
}
.sub-column img{
        margin-left:25%;
}
